{% extends 'question/base_stoodi.html' %}

{% block title %}
    <title>Resposta</title>
{% endblock %}

{% block header %}
   {% include 'question/header.html' %}
{% endblock %}

{% block content %}
    <div class="answer">
        {% if is_correct %}
            <h2>Resposta correta!</h2>
        {% else %}
            <h2 style="color:red">Resposta errada!</h2>
        {% endif %}
            <br/>
            <br/>
        <p>
            <a href="/?next={{ next }}">
                {% if is_correct %}
                    próxima questão
                {% else %}
                    Tente novamente
                {% endif %}
            </a>
        </p>

    </div>
{% endblock %}
