{% extends 'question/base_stoodi.html' %}

{% block title %}
    <title>Questão {{ question.order }}</title>
{% endblock %}

{% block header %}
   {% include 'question/header.html' %}
{% endblock %}

{% block content %}
     <div class="question">
        <form action="{% url 'question_answer' %}" method="POST">
            {% csrf_token %}
            <p><h2>{{ question.order }}) {{ question.question_text }}</h2></p>

            <input type="hidden" name="question_order" value="{{ question.order }}">
            <input type="hidden" name="question_ref" value="{{ question.id }}">
            {% for answer in answers %}
                <input type="radio" name="answer" value="{{ answer.order }}"><b> {{ answer.order }})</b> {{ answer.answer_text }}</input><br/>
            {% endfor %}

            <br/>
            <input type="submit" value="Ok" />
        </form>
    </div>
{% endblock %}
