<!DOCTYPE html>
<html>
    <head>
        <title>Questão 1</title>
    </head>

    <body>
        <form action="{% url 'question_answer' %}" method="POST">
            {% csrf_token %}
            <p>{{ question_text}}</p>

            {% for answer in answers %}
                <input type="hidden" name="question" value="{{ answer.question.id }}">
                <input type="radio" name="answer" value="{{ answer.order }}"><b>{{ answer.order }}.</b> {{ answer.answer_text }}</input><br/>
            {% endfor %}

            <br/>
            <input type="submit" value="Ok" />
        </form>
    </body>
</html>